h1 {
  font-size: 4rem;
  letter-spacing: 2px;
  align-items: center;
}
header {
  text-align: center;
  margin: 2rem 0 1rem 0;
}
.acerca-nuestro {
  color: white;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding-left: 25%;
  padding-right: 25%;
}

.acerca-nuestro p {
  text-align: justify;
  margin-bottom: 1em;
}

.footer {
  text-align: center;
  font-size: 0.95rem;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 -1px 3px rgba(0,0,0,0.1);
}